@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 60%;
  margin: 0px auto;
}

.ExamplesContainer {
  text-align: left;
  padding-top: 3px;
}

.Example {
    border-style: solid;
    border-color: #242c24;
    border-radius: 7px;
    border-width: 0.5px;
    background-color: #272822;
    padding: 5px;
}

footer {
  text-align: left;
  padding-top: 10px;
  font-size: small;
}